<%- include('partials/header') -%>
<div class="container">


    <h2> <%= post.title %></h2>
    <p><%= post.para %></p>

<form action="/delete" method="post">
  <button type="submit" name="data" value="<%= post._id %>">Delete</button>
</form>

</div>

<%- include('partials/footer') -%>
